<ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a class="nav-link text-white" asp-controller="accounts" asp-action="signup">Registrarme</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" asp-controller="accounts" asp-action="signin">Iniciar Session</a>
    </li>
</ul>