
@{
    ViewData["Title"] = "Confirmacion";
}

<section class="p-4 bg-ligh row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h4 class="alert alert-primary text-center" role="alert">Confirmacion envio de email para recuperacion de contraseña!</h4>
        <p class="text-center ps-5 pe-5 fw-bold">
            Verifique su aplicacion de email, alli recibira un correo con un enlace para cambiar contraseña de manera segura.
            <br/>
            <a asp-controller="accounts" asp-action="signin" class="btn btn-outline-primary mt-2">Ir a Inicio de Sesion</a>
        </p>
    </div>
    <div class="col-md-2"></div>
</section>