
@using ASPNetIdentity.Models.Views;
@model ForgotPassword;

@{
    ViewData["Title"] = "Olvido su contraseña";
}


<section class="mt-2">
    <div class=" shadow-sm">
        <div class="">
            <h3 class="text-center fw-normal">INICIAR SESSION</h3>
        </div>
        <div class="card-body">
            <form asp-controller="accounts" asp-action="forgotpassword" method="post" class="row">
                <div class="text-danger" role="alert" asp-validation-summary="ModelOnly"></div>
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input type="text" asp-for="Email" class="form-control form-control-sm" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div> 
                </div>
                <div class="col-md-3">
                </div>
                <div class="d-flex gap-1 justify-content-center pt-2">
                    <button type="submit" class="btn btn-success d-inline-block w-25">Enviar</button>
                    <button type="reset" class="btn btn-danger d-inline-block w-25">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}