
@{
    ViewData["Title"] = "Cuenta bloqueada";
}

<div class="text-center text-danger bg-danger p-4">
    <h1 class="display-4">Tu cuenta ha sido bloqueada</h1>
    <p>Demasiados errores al iniciar session</p>
</div>
