@model User

@{
    ViewData["Title"] = "Mi Perfil";
}

<div class="text-center">
    <h1 class="display-4">Mi Perfil</h1>
    <p>@Model.Email</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}